<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.espresoh.memoboard.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.espresoh.memoboard.rcp.Perspective"
            icon="icons/memoboard.png"
            id="com.espresoh.memoboard.rcp.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.espresoh.memoboard.rcp.views.MemoboardView"
            icon="icons/memoboard.png"
            id="com.espresoh.memoboard.rcp.memoboard.view"
            name="MemoBoard"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.espresoh.memoboard.rcp.perspective">
         <view
               closeable="false"
               id="com.espresoh.memoboard.rcp.memoboard.view"
               minimized="false"
               moveable="false"
               ratio="0.95"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.espresoh.memoboard.rcp.application"
            name="MemoBoard">
         <property
               name="windowImages"
               value="icons/memoboard.png,icons/memoboard32x32.png">
         </property>
         <property
               name="appName"
               value="MemoBoard">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.espresoh.memoboard.rcp.viewContribution.memoboard"
            targetID="com.espresoh.memoboard.rcp.memoboard.view">
         <action
               class="com.espresoh.memoboard.rcp.actions.RefreshMemosAction"
               icon="icons/refresh16x16.png"
               id="com.espresoh.memoboard.rcp.action.refresh"
               label="Refresh"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="com.espresoh.memoboard.rcp.actions.CreateMemoAction"
               icon="icons/add.png"
               id="com.espresoh.memoboard.rcp.action.add.memo"
               label="Create Memo"
               style="push"
               toolbarPath="additions"
               tooltip="Create Memo">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.espresoh.memoboard.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.espresoh.memoboard.rcp.preferences.MemoboardPreferencePage"
            id="com.espresoh.memoboard.rcp.page.memoboard"
            name="MemoBoard">
      </page>
   </extension>

</plugin>
